body {
    margin: 0;
    font-family: Arial;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main {
    width: 600px;
    height: 400px;
    margin-top: 100px;
    margin-right: inherit;
    margin-left: inherit;
}

.left-object {
    background: grey;
    width: 340px;
    height: inherit;
    float: left;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-object {
    width: 250px;
    height: inherit;
    float: left;
}

.login {
    height: 80px;
    border-radius: 5px;
    background-color: beige;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signUp {
    height: 290px;
    border-radius: 5px;
    background-color: beige;
    text-align: center;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    margin-left: 2px;
    margin-bottom: 5px;
    padding-right: 2px;
    width: 120px;
    display: inline-block;
}

select {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 5px;
    padding-right: 2px;
    width: 126px;
}

label {
    text-align: left;
    display: inline-block;
    width: 100px;
}

.login-img {
    width: 340px;
    height: 400px;
}

.alertText {
    color: red;
    font-size: 10px;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 20px;
}

.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {color: red;}

.block {
    display: inline-block;
    width: auto;
    height: 100%;
    vertical-align: top;
    margin-right: 10px;
}

.comment-input {
    width: 100%;
    height: 45px;
}

#browseInfo {
    display: none;
}